.container {
    padding: 12px;
}

.back {
    padding: 4px;
    display: block;
}

.header {
    margin: 30px 0;
    font-size: 40px;
    font-weight: 800;
    color: grey;
}

.subheader {
    font-size: 30px;
    font-weight: 400;
}

.card {
    padding: 20px;
    color: black;
    background-color: lightgray;
    border: solid 2px grey;
}

.director,
.infoTitle {
    text-align: left;
} 

.producer,
.date {
    text-align: right;
}

.staff {
    display: flex;

    > span {
        flex: 1;
    }
}

.director,
.producer,
.date,
.info {
    margin: 8px;
}

.info {
    text-align: justify;

    > span {
        margin: 3px;
    }
}

.info span:first-of-type {
    margin-left: 0;
}

.query {
    color: red;
}