.placard {
    padding: 8px;
    background-color: lightgray;
    border: solid 2px grey;

    a {
        color: black;
        text-decoration: none;
    }
}

.title,
.episode {
    text-align: left;
}

.date {
    text-align: right;
}

.title {
    font-weight: 600;
}